html {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
}

.online {
    background-color: chartreuse;
}

.notOnline {
    background-color: rgba(247, 56, 56, 0.87);
}

#files {
    width: 99%;
    height: 99.5%;
    font-family: 'FontAwesome';
    font-size: medium;
    background-color: white;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 100px;
    justify-content: space-around;
    align-content: flex-start;
    grid-gap: 50px;
    border-radius: 15px;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    align-content: space-around;
    cursor: pointer;
}

img {
    margin-left: 35%;
    max-width: 40px;
    max-height: 40px;
}

#progress_bar {
    width: 100%;
    background-color: #ddd;
}

#bar {
    width: 0%;
    height: 10px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}

.hidden {
    display: none;
}

.abs {
    z-index: 1000;
    position: absolute;
    background-color: #C0C0C0;
    border: 1px solid rgba(218, 221, 221, 0.24);
    border-radius: 15px;
    padding: 2px;
    display: block;
    margin: 70 70 0 0;
    list-style-type: none;
    list-style: none;
    cursor: pointer;
}

.delete {
    z-index: 1000;
    position: absolute;
    background-color: #C0C0C0;
    border: 1px solid rgba(218, 221, 221, 0.24);
    border-radius: 15px;
    padding: 2px;
    display: block;
    margin: 70 70 0 0;
    list-style-type: none;
    list-style: none;
    cursor: pointer;
    top: 10px;
}
#nav {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 20px;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}
#nav button{
    cursor: pointer;
}